.bookmark {
  position: absolute;
  top: -5px;
  right: 8px;
  font-size: 35px;
  color: var(--c-secondary);
  cursor: pointer;
}

.bookmark > i.fas::before {
  background: linear-gradient(
    180deg,
    var(--c-secondary-start) 0%,
    var(--c-secondary) 30%,
    var(--c-secondary-end) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 5px rgba(50, 50, 93, 0.25))
    drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
}
