.submit-form {
  margin: 0;
  padding: 15px;
  background-color: var(--c-light);
  border-radius: 5px;
  font-size: 1.25rem;
  display: grid;
  gap: 15px;
  height: 100%;
  width: 760px;
  grid-template-rows: 20px 1fr 20px 1fr 20px 50px 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.submit-form__input {
  background-color: transparent;
  color: #445;
  border: solid #445 3px;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  resize: none;
}

.submit-form__input--question:focus {
  border-color: var(--c-primary);
  border-width: 5px;
}
.submit-form__input--answer:focus {
  border-color: var(--c-secondary);
  border-width: 5px;
}
.submit-form__input--tags:focus {
  border-color: var(--c-dark);
  border-width: 5px;
}
.submit-form__btn {
  background-color: var(--c-secondary);
  color: var(--c-light);
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.submit-form__btn:active {
  transform: scale(0.98);
}
